
<div class="row">
    <div class="col-md-9">
        
            <div *ngIf="isLoading==true" class="row">
                <img class="w-100" [src]="imgPrefix+tvDetails.backdrop_path" >
                
                    <div class="moviedetails">
                        <h3>{{tvDetails.original_title}}</h3>
                        <p class="lead">{{tvDetails.overview}}</p>
                    </div>
            </div>
    </div>
    <div class="col-md-3">
        <div *ngFor="let tv of topTen" class="movie-item">
            <img class="w-50" [src]="imgPrefix+tv.poster_path">
            <h5>{{tv.title}}</h5>
        </div>
    </div>
</div>
